<div class="container">
    <div class="row-fluid">
        <div class="span12">
        	<table style="width: 100%">
        		<tr>
        			<td><h1>{{'desktop.title' | i18n}}</h1></td>
        			<td  style="float: right; padding-top: 20px;">
        			<table style="width: 100%">
        				<tr>
        				<td>N&auml;ytett&auml;v&auml; sis&auml;lt&ouml; :</td> 
        				<td><div ng-dropdown-multiselect="" options="categoriesmodel.rows" selected-model="selectedcategoriesmodel.rows" events="selectedcategoriesmodel.categoriesevents" extra-settings="selectedcategoriesmodel.extraSettings" checkboxes="true" translation-texts="selectedcategoriesmodel.buttonTexts"></div></td>
        				</tr>
        			</table>
        			</td>
        		</tr>
        	</table>
        </div>
	</div>
	<div class="row-fluid" style="vertical-align: middle; line-height:60px">
		<table>
			<tr>
				<td>
					<input type="text" ng-model="searchmodel.searchtext" style="margin-bottom: 0; height: 30px;" class="input-xxlarge" maxlength="50" placeholder="{{'desktop.search.placeholder' | i18n}}"/>
				</td>
				<td>
        			<button class="btn-primary" ng-click="toArchive()" title="{{'desktop.search.hint' | i18n}}" ng-disabled="searchmodel.searchtext.length==0">
            			{{'desktop.search' | i18n}}
        			</button>
				</td>
				<td>
					<a href="#/etusivu/arkisto">&gt;&gt; {{'desktop.showarchive' | i18n}}</a>
				</td>
			</tr>
		</table>
     </div>
 	 <table style="width: 100%">
        <tbody>			
    		<tr>
	    		<td style="vertical-align: top">
	    			 <a ng-click="announcementsmodel.refresh()" title="{{'desktop.announcements.title.hint' | i18n}}">
	    			 <h2>{{'desktop.announcements.title' | i18n}}</h2></a>
	    		</td>
	    	 	<td style="vertical-align: top"> 
	    		 	<a ng-click="eventsmodel.refresh()" title="{{'desktop.upcomingevents.title.hint' | i18n}}"><h2>{{'desktop.upcomingevents.title' | i18n}}</h2></a>
	    		</td>
	    		<td style="vertical-align: top">
	    			<a ng-click="materialsmodel.refresh()" title="{{'desktop.materials.title.hint' | i18n}}"><h2>{{'desktop.newestmaterials.title' | i18n}}</h2></a>
	    		</td>  
    		</tr>
    		<tr>
 	   			<td style="width: 40%; vertical-align: top">
    				<table class="table">
       					<tbody>
							<tr ng-if="announcementsmodel.ready && announcementsmodel.hasalerts()">
								<td class="align-left">
									<div class="row-fluid">
										<div class="span9">
											<alert ng-repeat="alert in announcementsmodel.alerts" type="alert.type"> <img style="margin-right: 10px;" src="../img/alert-icon28x29.png">{{alert.msg}}</alert>
										</div>
									</div>
								</td>
							</tr>
       						<tr ng-repeat="announcement in announcementsmodel.rows | limitTo: announcementsmodel.maxlines" ng-if="announcementsmodel.ready" >
        		 				<td class="align-left">
        		 					<div>
        		 						<a href="#/etusivu/tiedote/{{announcement.id}}" title="{{'desktop.announcement.show.hint' | i18n}}"><h5>{{announcement.title_plain | words:8}}</h5></a>
        		 					</div>
        		 					<div style="color: #999999">
        		 						{{announcement.date  | toFinnishDateTime}} {{announcement.author.name}}
        		 					</div>
        		 					<div>
    									<span ng-repeat="tag in announcement.tags" class="tag">{{tag.title}}</span>
    								</div>  
        		 				</td>
        					</tr>
							<tr  ng-if="announcementsmodel.ready && !announcementsmodel.hasalerts() && announcementsmodel.rows.length==0">
        					    <td class="align-left">
        		 					<div style="color: #999999">
        		 						{{'desktop.announcements.messages.noannoucemenets' | i18n}}
        		 					</div>
        		 				</td>
        		 			</tr>
        		 			<tr  ng-if="!announcementsmodel.ready">
        					    <td class="align-left">
        		 					<div style="color: #999999">
        		 						{{'desktop.announcements.messages.fetchingannoucements' | i18n}}
        		 					</div>
        		 				</td>
        		 			</tr>
        					<tr ng-if="announcementsmodel.maxlines<announcementsmodel.rows.length">
        						<td>
        							<a ng-click="announcementsmodel.showmore()">&gt;&gt; {{'generic.showmore' | i18n}}</a>
        						</td>
        					</tr>
        					<tr>
        						<td>
        							<button class="btn" ng-click="show.alert=true">Tilaa ilmoitus</button>
        							<div ng-show="show.alert" class="alert alert-danger" role="alert">
  										Not implemented yet!
									</div>
        						</td>
        					</tr>
       					</tbody>
					</table>
				</td>
 	   		 	<td style="width: 30%; vertical-align: top">
    				<table class="table">
       					<tbody>
							<tr ng-if="eventsmodel.ready &&  eventsmodel.hasalerts()">
								<td class="align-left">
									<div class="row-fluid">
										<div class="span9">
											<alert ng-repeat="alert in eventsmodel.alerts" type="alert.type"> <img style="margin-right: 10px;" src="../img/alert-icon28x29.png">{{alert.msg}}</alert>
										</div>
									</div>
								</td>
							</tr>       					
       						<tr ng-repeat="event in eventsmodel.rows | limitTo: eventsmodel.maxlines" ng-if="eventsmodel.ready">
        		 				<td class="align-left">
        		 					<div>
        		 						<a href="#/etusivu/tapahtuma/{{event.post_id}}" title="{{'desktop.event.show.hint' | i18n}}"><h5>{{event.event_date_time.event_start_date | toFinnishDate }}</h5></a>
        		 					</div>
        		 					<div style="color: #999999">
        		 						{{event.title  | words:12}}
        		 					</div>
        		 				</td>
        					</tr>
							<tr  ng-if="eventsmodel.ready && !eventsmodel.hasalerts() && eventsmodel.rows.length==0">
        					    <td class="align-left">
        		 					<div style="color: #999999">
        		 						{{'desktop.events.messages.noevents' | i18n}}
        		 					</div>
        		 				</td>
        		 			</tr>
        		 			<tr  ng-if="!eventsmodel.ready">
        					    <td class="align-left">
        		 					<div style="color: #999999">
        		 						{{'desktop.events.messages.fetchingevents' | i18n}}
        		 					</div>
        		 				</td>
        		 			</tr>        					
        					<tr>
        						<td ng-if="eventsmodel.maxlines<eventsmodel.rows.length">
        							<a ng-click="eventsmodel.showmore()">&gt;&gt; {{'generic.showmore' | i18n}}</a>
        						</td>
        					</tr>
        					<tr>
        						<td ng-if="!eventsmodel.hasalerts()">
        		 					<div>
        		 						<a href="#/etusivu/kalenteri/">&gt;&gt; {{'desktop.showcalendar' | i18n}}</h5></a>
        		 					</div>
        						</td>
        					</tr>
       					</tbody>
					</table>
				</td>				
				<td style="width: 30%; vertical-align: top">
					<h5>Viimeisin julkaistu ohje tai materiaali</h5>
					<table class="table" ng-if="latestMaterial" style="margin-bottom:0;">
						<tr>
       		 				<td class="align-left">
       		 					<div>
       		 						<a href="#/etusivu/materiaali/{{latestMaterial.post.id}}" title="{{'desktop.material.show.hint' | i18n}}"><h5>{{latestMaterial.post.title_plain | words:8}}</h5></a>
       		 					</div>
       		 					<div style="color: #999999">
       		 						{{latestMaterial.post.date | toFinnishDateTime}} {{latestMaterial.post.author.name}}
       		 					</div>
								<div>
   									<span ng-repeat="tag in latestMaterial.post.tags" class="tag">{{tag.title}}</span>
   								</div> 
       		 				</td>						
						</tr>
					</table>
					<hr   style="margin: 0;"/>
					<h5>Ohjeet ja materiaalityypit</h5>
    				<table class="table" ng-repeat="tag in tagsmodel.rows"  ng-if="tagsmodel.ready" style="margin-bottom:0;">
			         	<tr>
                        	<td ng-if="tag.shown" style="width: 40px; padding-top: 8px;">
                            	<button type="button" ng-click="tag.shown = false" style="border: none; background: white;">
                                   <img src="../img/itemtree-collapse-sprite-down.png" />
                               </button>
                           	</td>
                           	<td ng-if="!tag.shown" style="width: 40px; padding-top: 8px;">
                            	<button type="button" ng-click="tag.shown = true" style="border: none; background: white;">
                                   <img src="../img/itemtree-collapse-sprite-right.png" />
                               	</button>
                           	</td>
                           	<td>
								<a ng-click="tag.shown=!tag.shown"><h5>{{tag.title}} ({{tag.rows.length}})</h5> </a>
                           </td>
                       	</tr>
						<tr ng-if="materialsmodel.ready && materialsmodel.hasalerts()">
							<td></td>
							<td class="align-left">
								<div class="row-fluid">
									<div class="span9">
										<alert ng-repeat="alert in materialsmodel.alerts" type="alert.type"> <img style="margin-right: 10px;" src="../img/alert-icon28x29.png">{{alert.msg}}</alert>
									</div>
								</div>
							</td>
						</tr>         					
      						<tr ng-repeat="material in materialsmodel.rows | filterTags: tag | limitTo: tag.maxlines" ng-if="materialsmodel.ready && tag.shown">
      							<td></td>
       		 				<td class="align-left">
       		 					<div>
       		 						<a href="#/etusivu/materiaali/{{material.id}}" title="{{'desktop.material.show.hint' | i18n}}"><h5>{{material.title_plain | words:8}}</h5></a>
       		 					</div>
       		 					<div style="color: #999999">
       		 						{{material.date | toFinnishDateTime}} {{material.author.name}}
       		 					</div>
								<div>
   									<span ng-repeat="tag in material.tags" class="tag">{{tag.title}}</span>
   								</div> 
       		 				</td>
       					</tr>
						<tr  ng-if="materialsmodel.ready && tag.shown && !materialsmodel.hasalerts() && tag.rows.length==0">
							<td></td>
       					    <td class="align-left">
       		 					<div style="color: #999999">
       		 						{{'desktop.materials.messages.nomaterials' | i18n}}
       		 					</div>
       		 				</td>
       		 			</tr>
       		 			<tr  ng-if="!materialsmodel.ready">
       					    <td class="align-left" colspan="2">
       		 					<div style="color: #999999">
       		 						{{'desktop.materials.messages.fetchingmaterials' | i18n}}
       		 					</div>
       		 				</td>
       		 			</tr>         					
       					<tr>
       						<td ng-if="materialsmodel.ready && tag.shown && tag.maxlines<tag.rows.length" colspan="2">
       							<a ng-click="tag.showmore()">&gt;&gt;{{'generic.showmore' | i18n}}</a>
       						</td>
       					</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
