<div class="container">
	<div stp-breadcrumb></div>
    <div class="row-fluid">
        <div class="span12">
        	<table style="width: 100%">
        		<tr>
        			<td><h1>{{'calendar.title' | i18n}}</h1></td>
        			<td  style="float: right; padding-top: 20px;">
        			<table style="width: 100%">
        				<tr>
        				<td>N&auml;ytett&auml;v&auml; sis&auml;lt&ouml; :</td> 
        				
        				<td><div ng-model="test" ng-dropdown-multiselect="" options="categoriesmodel.rows" selected-model="selectedcategoriesmodel.rows" events="selectedcategoriesmodel.categoriesevents" extra-settings="selectedcategoriesmodel.extraSettings" checkboxes="true" translation-texts="selectedcategoriesmodel.buttonTexts"></div></td>
        				</tr>
        			</table>
        			</td>
        		</tr>
        	</table>
        </div>
	</div>
	<table style="width: 10%">
		<tbody>
			<tr>
				<td>
					<div class="eventcalendar">
						<div style="display: inline-block;">
							<datepicker min-date="dummyDate" starting-day="1"
								date-disabled="isDateDisabled(mode, date)"
								datepicker-mode="datepickerMode" ng-model="eventdate"
								min-date="minDate" show-weeks="true" class="well">
							</datepicker>
						</div>
					</div>
				</td>
			</tr>
			<tr ng-if="eventdatename">
				<td style="width: 8%; vertical-align: top">
					<table class="table" ng-repeat="event in model.events">
						<tbody>
							<tr>
								<td class="align-left">
									<hr/>
								</td>
							</tr>
							<tr>
        		 				<td class="align-left">
        		 					<div>
        		 						<h5>{{event.title}}</h5>
        		 					</div>
        		 				</td>
        		 			</tr>
        		 			<tr>
        		 				<td>
        		 					<div style="color: #999999">
        		 						{{event.event_date_time.event_start_date | toFinnishDate}} {{event.event_date_time.event_start_time | limitTo:5 }} - {{event.event_date_time.event_end_date | toFinnishDate}} {{event.event_date_time.event_end_time | limitTo:5 }}
        		 					</div>
        		 					<td>
	        							<button class="btn" ng-click="show.alert=true">Aseta muistutus</button>
	        							<div ng-show="show.alert" class="alert alert-danger" role="alert">
	  										Not implemented yet!
										</div>
        							</td>
        		 				</td>
        		 			</tr>
        		 			<tr ng-if="event.event_location">
        		 				<td>
        		 					<div style="color: #999999">
        		 						{{event.event_location }}
        		 					</div>
        		 				</td>
        		 			</tr>        		 			
							<tr>        		 											
								<td class="align-left">
									<span ng-html-compile="event.content"/>
								</td>
							</tr>								
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="align-left">
					<hr />
				</td>
			</tr>
		</tbody>
	</table>
   	<div stp-goback/>
</div>

